* {
    margin: 0;
	padding: 0;
	font-size: 14px;
    box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.conteiner {
    width: 1200px;
	margin: 0 auto;
	max-width: 100%;
	padding: 0 20px;
}

/* HEADER */
.section-header {
    background-color: #003A5E;
    padding: 20px 0;
    margin-bottom: 30px;
}

.header-logo {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

/* MAIN */
.main-logo-form {
    font-size: 20px;
    font-weight: 600;
    color: #222;
    border-bottom: 1px solid black;
    margin: 10px 0;
}

.main-form input {
    padding: 5px;
    width: 60%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.main-from-button {
    display: block;
    padding: 5px;
    margin-top: 5px;
}

.main-from-button:hover {
    background-color: rgba(0, 149, 255, 0.428);
}

.form-error {
    color: red;
}

.form-success {
    color: green;
}